body {
  background-image: url("../img/background.jpg"); width: 1920px; height: 1080px;

}

.locate() {
  border: dashed rgba(255,255,255, 50%) 1px;
  background-color: rgba(224, 255, 255, 50%);
  border-collapse:collapse;
}

#title {
  height: 150px;
  .locate();
}

.marquee {
  height: 70px;
  font-size: 3em;
  color: white;
  overflow-x: hidden;
  .locate();
}

#content {
  //.locate();
}

#content table#main {
  margin: 50px;

  td {
    padding: 0 120px 0 120px
  }
}